body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div{
  position: relative;
  width: 50vw;
  height: 20vh;
  top: 35vh;

  border-radius: 1vw;
  box-shadow: rgb(235, 235, 235) 0.25vh 0.25vh 0.75vh 0.75vh;
  font-size: 3rem;
  color: gray;
  text-align: center;
  margin: auto;
  display: table;
}
p{
  display: table-cell;
  vertical-align: middle;
}
